<div>
    <div class="flash_msg">@bd_util.get_flash_msg(Model.HttpContext)</div>
    @{
        var errs = bd_util.get_flash_errs(Model.HttpContext);
        if (errs.Count > 0)
        {

            <div class="flash_err">
                @{
                    foreach (string err in errs)
                    {
                        <div>@err</div>
                    }
                }
            </div>
        }
    }
</div>