@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;

@{
    bool is_admin = bd_util.is_user_admin(HttpContextAccessor.HttpContext);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @bd_config.get("AppName")</title>
    <link rel="stylesheet" href="~/css/budoco.css" />
</head>


<body>
    <div>

        <ul class="navbar">
            <li class="nav-item logo">
                <a class="nav-link" asp-page="/Index">@bd_config.get("AppName")</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/About">About</a>
            </li>
        </ul>
    </div>

    <div class="render_body">
        @RenderBody()
    </div>
</body>

</html>
