@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;

@{
    bool is_admin = bd_util.is_user_admin(HttpContextAccessor.HttpContext);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @bd_config.get("AppName")</title>
    <link rel="stylesheet" href="~/css/budoco.css" />
    <script>
        function goto() {
            var issue_id = $("#goto_id").val();
            if (issue_id == 0)
                alert("Enter issue id#")
            else
                location.href = "/Issue?id=" + issue_id
        }
    </script>
</head>

@{
    Console.WriteLine("layout: " +
            HttpContextAccessor.HttpContext.Response.StatusCode.ToString());
    if (HttpContextAccessor.HttpContext.Response.StatusCode == 302)
    {

        <body>This is a redirect</body>
        IgnoreBody();
    }
    else
    {

        <body>

            <div>

                <ul class="navbar">
                    <li class="nav-item logo">
                        <a class="nav-link" asp-page="/Index">@bd_config.get("AppName")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Issues">Issues</a>
                    </li>
                    @{
                        if (is_admin)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-page="/Admin/Admin">Admin</a>
                            </li>
                        }
                    }

                    <li class="nav-item">
                        <button class="goto_button" onclick="goto()">Go To Issue:</button>
                        <input type="number" class="goto_input" id="goto_id" placeholder="id#" />

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Login?action=signout">Sign Out</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/About">About</a>
                    </li>
                </ul>
            </div>

            <div class="render_body">

                @RenderBody()
            </div>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>

            @await RenderSectionAsync("Scripts", required: false)


        </body>
    }
}

</html>
