@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    bool is_admin = bd_util.is_user_admin(HttpContextAccessor.HttpContext);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>@ViewData["Title"] - @bd_config.get(bd_config.AppName)</title>
    <link rel="stylesheet" href="~/css/budoco.css" />

    @{
        if (bd_config.get(bd_config.UseCustomCss) == 1)
        {
            string custom_css_filename = bd_config.get(bd_config.CustomCssFilename);
            <link rel="stylesheet" href="/@custom_css_filename" />
        }
    }


    <script>
        function goto() {
            var issue_id = $("#goto_id").val();
            if (issue_id == 0)
                alert("Enter issue ID#")
            else
                location.href = "/Issue?id=" + issue_id
        }
    </script>
</head>

@{
    bd_util.console_write_line("layout_simple http status: " +
            HttpContextAccessor.HttpContext.Response.StatusCode.ToString());
    if (HttpContextAccessor.HttpContext.Response.StatusCode == 302)
    {

        <body>This is a redirect</body>
        IgnoreBody();
        IgnoreSection("Scripts");
    }
    else
    {

        <body>
            <table class="menu_table">
                <tr>
                    <td class="logo"><a asp-page="/Index">@bd_config.get(bd_config.AppName)</a></td>

                    <td class="just_right">

                        <a href="/About">About</a>
                    </td>
                </tr>
            </table>

            <div class="content_parent">
                @RenderBody()
            </div>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>

            @await RenderSectionAsync("Scripts", required: false)

        </body>
    }
}

</html>
