<div class="data_table_div crud_table">
    <table class="dt">
        @{
            <tr>
                @{
                    foreach (var column in Model.Columns())
                    {
                        <th>@column</th>
                    }
                }
            </tr>

            if (Model.dt.Rows.Count > 0)
            {
                foreach (DataRow dr in Model.dt.Rows)
                {
                    <tr>
                        @{
                            foreach (var value in Model.Values(dr))
                            {
                                <td>@value</td>
                            }
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="@Model.dt.Columns.Count">No rows.</td>
                </tr>
            }
        }
    </table>
</div>
