@page
@{
    Layout = "_Layout_signed_out";
}

@{
    ViewData["Title"] = "About Budoco";
}
<h1>About Budoco</h1>

<div>

    <p>

    November 21, 2020
<p>

    Corey Trager here, the author of Budoco and BugTracker.NET.
    <p>
    "Budoco" is a (so far) minimalist rewrite of <b>Bu</b>gtracker.NET using Microsoft's <b>Do</b>tnet <b>Co</b>re.
<p>
    More about Budoco here: <a href="https://github.com/ctrager/budoco">Budoco on GitHub</a>
<p>
    More about BugTracker.NET here: <a href="http://ifdefined.com/bugtrackernet.html">BugTracker.NET home page</a>
<p>
    BugTracker.NET is very mature with a lots of features. It runs only on Windows and uses MS SQL Server.
    It uses technologies that Microsoft isn't investing in anymore. I started creating it back in 2001 in order to learn C#,
    but for the last several years I have only been doing a few bug fixes.
<p>
    I started writing Budoco in November 2020 in order to distract myself from election anxiety and to break the COVID-19 monotony.
<p>
    Budoco can run whereever Microsoft's cross-platform Dotnet Core 5 can run. It uses Postgres as its database.

    
   
</p>
 
</div>
