@page
@model AdminModel

@{
    ViewData["Title"] = "Admin";
}

@{
    Console.WriteLine("Admin response code:" + HttpContext.Response.StatusCode);
}
<h1>Admin</h1>


<div><a href="/Admin/Users">Users</a></div>

<h2>The rest is under construction. Update the db yourself with SQL. See setup.sql</h2>

<div><a href="/Admin/Projects">Projects</a></div>
<div><a href="/Admin/Categories">Categories</a></div>
<div><a href="/Admin/Statuses">Statuses</a></div>
<div><a href="/Admin/Priorities">Priorities</a></div>

<div><a href="/Admin/Priorities">Queries</a></div>

<div><a href="/Admin/Logs">Logs</a></div>

@section Scripts {
    
}
