@page
@model AdminModel

@{
    ViewData["Title"] = "Admin";
}

<div class="centered_and_left_just">
    
<h1>Admin</h1>
<partial name="_FlashPartial" />


<div><a href="/Admin/Users">Users</a></div>
<br>

<div><a href="/Admin/Categories">Categories</a></div>
<div><a href="/Admin/Priorities">Priorities</a></div>
<div><a href="/Admin/Projects">Projects</a></div>
<div><a href="/Admin/Organizations">Organizations</a></div>
<div><a href="/Admin/Statuses">Statuses</a></div>
<br>

<div><a href="/Admin/Queries">Issue Queries</a></div>
<br>

<h1>Under Construction</h1>
<div><a href="/Admin/Email">Email</a></div>
@{if (bd_config.get(bd_config.DebugEnableRunSql) == 1) 
{                            
<div><a href="/Admin/RunSql">RunSql</a></div>
}}
<div><a href="/Admin/Logs">Logs</a></div>

@section Scripts {
    
}
</div>
