@page
@model CategoriesModel

@{
    ViewData["Title"] = "Categories";
}

<h1>@ViewData["Title"]</h1>
<partial name="_FlashPartial" />

<a href="Category?id=0">Create Category</a>

<partial name="_CrudDataTablePartial" />

@section Scripts {
    
}
