@page
@model CategoriesModel

@{
    ViewData["Title"] = "Categories";
}

<h1>@ViewData["Title"]</h1>

<a href="Category?id=0">Create Category</a>

<partial name="_DataTablePartial" />

@section Scripts {
    
}
