@page
@model OrganizationsModel

@{
    ViewData["Title"] = "Organizations";
}

<h1>@ViewData["Title"]</h1>

<a href="Organization?id=0">Create Organization</a>

<partial name="_DataTablePartial" />

@section Scripts {
    
}
