@page
@model ProjectsModel

@{
    ViewData["Title"] = "Projects";
}

<h1>@ViewData["Title"]</h1>

<a href="Project?id=0">Create Project</a>

<partial name="_DataTablePartial" />

@section Scripts {
    
}
