@page
@model QueryModel
@using Microsoft.AspNetCore.Mvc.Razor

@{
    ViewData["Title"] = "Issue Query";
}

<h1>Issue Query</h1>
<div>
    <a href="Queries">Back to Queries</a>
</div>
<partial name="_FlashPartial" />

<div class="form_div">
<form id="sql_form" method="post">
    @{
        if (Model.id != 0)
        {
    <div>
        <label>Id</label>
        <input asp-for="id" value="@Model.id" disabled></input>
    </div>
        }
    }
    <div>
        <label>Name</label>
        <input asp-for="name" value="@Model.name"></input>
    </div>
    <div>
        <label>Active</label>
        <input asp-for="is_active" value="true" />
    </div>
    <div>
        <label>Default</label>
        <input asp-for="is_default" value="true" />
    </div>
    <div>
 
    <div>
        <textarea class="pre" asp-for="sql"></textarea>
    </div>
    <button type="button" onclick="submit_post()">Run SQL - Don't Save</button>
    <button>Save in Database</button>
                
</form>
</div>

<div id="results">
</div>

@section Scripts {
<script>
    function submit_post() {

        $.ajax({
            url: 'RunSql?handler=Run',
            data: $('#sql_form').serialize(),
            type: 'post',
            
            success: function (html_from_server) {
                $("#results").html(html_from_server);
            },
            
            failure: function(response) {
                alert(response)
            },

            statusCode: {
                500: function(responseObject, textStatus, jqXHR) {
                    alert(JSON.stringify(responseObject));
                }
            }
        }) // end submit post
    } // end func
</script>
}