@page
@model QueryModel
@using Microsoft.AspNetCore.Mvc.Razor

@{
    ViewData["Title"] = "Issue Query";
}

<h1>Issue Query</h1>
<div>
    <a href="Queries">Back to Queries</a>
</div>
<partial name="_FlashPartial" />

<form id="sql_form" method="post">
    <table class="form_table">
        @{
            if (Model.id != 0)
            {
        <tr>
            <td><label>Id</label>
            <td><input asp-for="id" value="@Model.id" disabled></input>
        </tr>
            }
        }
        <tr>
            <td><label>Name</label>
            <td><input asp-for="name" value="@Model.name"></input>
        </tr>
        <tr>
            <td><label>Active</label>
            <td><input asp-for="is_active" value="true" />
        </tr>
        <tr>
            <td><label>Default</label>
            <td><input asp-for="is_default" value="true" />
        </tr>
        <tr>
    </table>

    <table class="form_table">
        <tr><td>
            <label>SQL:</label>
            <br>
            <textarea onchange="mark_sql_dirty()" class="pre" asp-for="sql"></textarea>
            <div class="info_text">
                Your query has to work before you can save it.
            </div>
        </td></tr>

        <tr><td>
            <button type="button" onclick="run_sql()">Run SQL - Don't Save</button>
            <button type="button" onclick="maybe_save()">Save in Database</button>
        </td></tr>
    </table>

</form>


<div id="results">
</div>

@section Scripts {
<script>
    var sql_is_dirty = false;
    function mark_sql_dirty() {
        sql_is_dirty = true;
    }

    function maybe_save() {
        rows = $("#results_table").length;
        if (sql_is_dirty || rows == 0) {
            if (confirm("You don't seem to have tested your latest sql change yet.\n\n" +
            "Are you sure you want to save?")) {
                $("#sql_form").submit();
                sql_is_dirty = false;
            }
        }
        else {
            $("#sql_form").submit();
            sql_is_dirty = false;
        }
    }

    function run_sql() {

        $.ajax({
            url: 'RunSql?handler=Run',
            data: $('#sql_form').serialize(),
            type: 'post',
            
            success: function (html_from_server) {
                $("#results").html(html_from_server);
            },
            
            failure: function(response) {
                alert(response)
            },

            statusCode: {
                500: function(responseObject, textStatus, jqXHR) {
                    alert(JSON.stringify(responseObject));
                }
            }
        }) // end submit post
    } // end func
</script>
}