@page
@model ReportModel

@{
    ViewData["Title"] = "Report";
}

<h1>Create/Update  @ViewData["Title"]</h1>

<div>
    <a href="/Admin/ReportsAdmin">Back to Reports</a>
</div>

@{
    if (Model.id != 0)
    {
<div>
    <span class="fake_link" onclick="view_chart()">View Chart</span>
    &nbsp;
    &nbsp;
    <span class="fake_link" onclick="view_data()">View Data</span>
 
</div>
    }
}

<partial name="_FlashPartial" />

<span id="hidden_id" data-id="@Model.id" />

<div class="form_div">
    <form method="post">
        <table class="form_table">
            <tbody>
                <tr>
                    <td>
                        <label>Name</label>
                    </td>

                    <td>
                        <input asp-for="name" maxlength='80' size='80' />
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Chart Type</label>
                    </td>

                    <td>
                        <div>
                            <span>
                                <input type="radio" asp-for="chartType" value="table" id="table">
                                <label for="table">Table</label>
                            </span>

                            <span>
                                <input type="radio" asp-for="chartType" value="pie" id="pie">
                                <label for="pie">Pie</label>
                            </span>

                            <span>
                                <input type="radio" asp-for="chartType" value="bar" id="bar">
                                <label for="bar">Bar</label>
                            </span>

                            <span>
                                <input type="radio" asp-for="chartType" value="line" id="line">
                                <label for="line">Line</label>
                            </span>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>SQL</label>
                    </td>

                    <td>
                        <textarea asp-for="sqlText" rows="10" , cols="70"></textarea>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <button type="submit">@(Model.id == 0 ? "Create" : "Update")</button>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        To use "Pie", "Bar", or "Line", your SQL statement should have two columns <br>where the first column is the label and the second column contains the value.
                        <br><br>
                        You can use the pseudo-variable $ME in your report which will be replaced by your user ID.
                        <br>
                        For example:
                        <div>select .... from ....</div>
                        <div>where i_assigned_to_user = $ME</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

@section Scripts {
    <script>
        function view_chart() {
            id = $('#hidden_id').data("id")
            view = $('input[name="chartType"]:checked').val();
            url = "/App/ViewReport?id=" + id + "&view=" + view
            location.href = url
        }

        function view_data() {
            id = $('#hidden_id').data("id")
            url = "/App/ViewReport?id=" + id + "&view=data"
            location.href = url
        }
    </script>
}