@page
@model RunSqlModel
@using Microsoft.AspNetCore.Mvc.Razor

@{
    ViewData["Title"] = "Run Sql";
}

<h1>@ViewData["Title"]</h1>

<partial name="_FlashPartial" />

<div class="form_div">
<form id="sql_form" method="post">
    <div>
        <textarea class="pre" asp-for="sql"></textarea>
    </div>
    
    <button type="button" onclick="submit_post()">Run SQL</button>
    <span class="waiting" style="display:none">Running...</span>
       
                
</form>
</div>

<div id="results">
</div>

@section Scripts {
<script>
    function submit_post() {
        show_waiting()
        $.ajax({
            url: '/Admin/RunSql?handler=Run',
            data: $('#sql_form').serialize(),
            type: 'post',
            
            success: function (html_from_server) {
                $("#results").html(html_from_server);
                hide_waiting()
            },
            
            failure: function(response) {
                hide_waiting()
                alert(response)
            },

            statusCode: {

                500: function(responseObject, textStatus, jqXHR) {
                    hide_waiting()
                    alert(JSON.stringify(responseObject));
                }
            }
        }) // end submit post
    } // end func
</script>
}