@page
@model StatusModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Status";
}

<h1>Create/Update Status</h1>

<partial name="_FlashPartial" />

<div>
    <a href="Statuses">Back to Status</a>
</div>

<div class="form_div"></div>
<form method="post">

@{
    if (Model.id != 0)
    {
    <div>
        <label>Id</label>
        <input asp-for="id" value="@Model.id" disabled></input>
    </div>
    }
}
    <div>
        <label>Name</label>
        <input asp-for="name" maxlength="40"></input>
    </div>
    <div>
        <label>Active</label>
        <input asp-for="is_active" value="true" />
    </div>
    <div>
        <label>Default</label>
        <input asp-for="is_default" value="true" />
    </div>
    <div>
        <button type="submit">@(Model.id == 0 ? "Create" : "Update")</button>
    </div>
</form>
</div>

@section Scripts {
    
}
