@page
@model StatusesModel

@{
    ViewData["Title"] = "Statuses";
}

<h1>@ViewData["Title"]</h1>

<a href="Status?id=0">Create Status</a>

<partial name="_DataTablePartial" />

@section Scripts {
    
}
