@page
@model UserModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "User";
}

<h1>Update @ViewData["Title"]</h1>

<div>
    <a href="Users">Back to Users</a>
</div>
<partial name="_FlashPartial" />

<div class="form_div">
<form method="post">
    <table class="form_table">
    <tr>
        <td><label>Id</label>
        <td><input asp-for="id" disabled></input>
    </tr>
    <tr>
        <td><label>Username</label>
        <td><input asp-for="username"/>
    </tr>
    <tr>
        <td><label>Email</label>
        <td><input type="email" asp-for="email_address"/>
    </tr>
    <tr>
        <td><label>Admin</label>
        <td><input asp-for="is_admin" value="true" />
    </tr>
    <tr>
        <td><label>Active</label>
        <td><input asp-for="is_active" value="true" />
    </tr>
    <tr>
        <td><label>Report Only</label>
        <td><input asp-for="is_report_only" value="true" />
    </tr>
    <tr>
        <td><label>Organization</label>
        <td><select asp-for="organization_id" asp-items="@Model.organizations">
            <option value=0>None</option>
        </select>
    </tr>    
    <tr>
        <td><button type="submit">Update</button>
    <tr>
    </table>
</form>
</div>

@section Scripts {
    
}

