@page
@model UserModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Users";
}

<h1>Update User</h1>
<div>
    <a href="Users">Back to Users</a>
</div>
<partial name="_FlashPartial" />


<form method="post">
    <table class="form_table">
    <tr>
        <td><label>Id</label>
        <td><input asp-for="id" value="@Model.id" disabled></input>
    </tr>
    <tr>
        <td><label>Username</label>
        <td><input asp-for="username" value="@Model.username"></input>
    </tr>
    <tr>
        <td><label>Email</label>
        <td><input asp-for="email" value="@Model.email"></input>
    </tr>
    <tr>
        <td><label>Admin</label>
        <td><input asp-for="is_admin" value="true" />
    </tr>
    <tr>
        <td><label>Active</label>
        <td><input asp-for="is_active" value="true" />
    </tr>
    <tr>
        <td><label>Report Only</label>
        <td><input asp-for="is_report_only" value="true" />
    </tr>
    <tr>
        <td><label>Organization</label>
        <td><select asp-for="organization_id" asp-items="@Model.organizations">
            <option value=0>None</option>
        </select>
    </tr>    
    <tr>
        <td><button type="submit">Update</button>
    <tr>
    </table>
</form>


@section Scripts {
    
}

