/* tags */

body {
    margin: 8px;
}

body,
button,
input,
select {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

select {
    padding: 2px;
    background-color: white;
}

td {
    vertical-align: top;
}

th {
    vertical-align: bottom;
    font-weight: normal;
}

a,
button,
.fake_link,
a:visited {
    color: blue;
    text-decoration: none;
}

a:hover,
button:hover,
.fake_link:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    color: red;
    /* don't change cursor */
}

button {
    padding: 5px;
    border-radius: 6px;
    background-color: #dddddd;
}

button,
input,
textarea,
select {
    border: 1px solid #cccccc;
}

div {
    margin-bottom: 15px;
}

/* done with tags */

/* top part of page */

.menu_table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.menu_table>tbody>tr>td {
    background-color: #eeeeee;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}

.menu_table>tbody>tr>td.logo {
    font-size: 20px;
    letter-spacing: 2px;
    background-color: lightgreen;
    height: 40px;
    width: 140px;

}

.goto_input {
    width: 50px;
}

.menu_table>tbody>tr>td.just_right {
    text-align: right;
    padding-right: 20px;
}

.menu_table>tbody>tr>td.just_right>a {
    margin-left: 20px;
}

h1 {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1px;
}

/* end top part of page */

/* 

page content

https://stackoverflow.com/questions/283961/centering-a-div-block-without-the-width 

*/

.content_parent {
    /* ...and this is its parent container. */
    text-align: center;
    position: relative;
}

.content_child {
    /* This is the item to center... */
    display: inline-block;
    text-align: left;
}

.content_just_left {

    position: absolute;
    left: 10px;

}

/* FORMS */

form {
    background-color: #eeeeee;
    border-radius: 8px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
    margin-bottom: 10px;

}

.form_table,
.form_table>tr,
.form_table>td {
    border-collapse: collapse;
}

.form_table>tbody>tr>td {
    padding: 5px;
}


.flash_msg {
    background-color: #ccffcc;
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 900px;
}

.flash_err {
    border: 1px solid black;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 900px;

    background-color: #ffaaaa;
    font-weight: bold;
}


.issue_select {
    width: 290px;
}

#status_elements {
    order: 6;
}

.issue_description_input {
    width: 800px;
    padding: 2px;
}

.issue_textarea {
    width: 800px;
    height: 80px;
}

.post_form_textarea {
    width: 890px;
    height: 80px;
}

.post_form_email_to_input {
    width: 860px;
}


/* prove I can hide things on the issue form */
/*
.issue_organization {
    display: none;
}

.issue_project {
    display: none;
}

.issue_category {
    display: none;
}

.issue_priority {
    display: none;
}

.issue_status {
    display: none;
}

.issue_assigned_to {
    display: none;
}

*/

/* data tables */
table.dt {
    border-collapse: collapse;
    border: 1px color red;
}

table.dt>tbody>tr>th {
    border: 1px solid #cccccc;
    padding: 3px;
    text-align: left;
    vertical-align: bottom;
    font-size: 11pt;
}

table.dt>tbody>tr>td {
    border: 1px solid #cccccc;
    padding: 3px;
    text-align: left;
    vertical-align: top;
    font-size: 11pt;
}

.unsorted {
    background-color: #eeeeee;
    font-weight: normal;
}

.sorted {
    background-color: yellow;
    font-weight: normal;

}

.gray {
    color: #dddddd;
}

#search_terms {
    width: 700px;
}

.info_text {
    font-size: 13px;
    color: green;
}

.post {
    border: 1px solid gray;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #fafffa;
    width: 900px;
    border-radius: 6px;
}


pre {
    overflow-x: auto;
    font-family: "Lucida Console", "Courier New", Courier, monospace;
    font-size: 14px;
    margin: 0px;
    padding: 5px;
}


.show_hide_image {
    display: inline;
    font-size: 13px;
}

.show_hide_image:hover {
    display: inline;
    font-size: 13px;
}

textarea#sql {
    width: 900px;
    height: 120px;
}


.login_register {
    margin-top: 20px;
    padding: 10px;
    background: #eeffee;
    border-radius: 6px;
    width: 400px;
    border: 1px solid gray;
}