body,
div,
input,
button,
select {
  font-family: arial;
  font-size: 16px;
}

body {
  padding-left: 5px;
}

h1 {
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 1px
}

div {
  margin-top: 8px;
  margin-bottom: 8px;

}

a {
  color: #0000ff;
  text-decoration: none;
}

a:visited {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  color: #ff6633;
  text-decoration: none;
}


table {
  border-collapse: collapse;
}

td {
  border: 1px solid lightgrey;
  padding: 3px;
}

th {
  border: 1px solid lightgrey;
  background-color: #eeeeee;
  padding: 3px;
}


.flash_msg {
  background-color: #ccffcc;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 900px;
}

.flash_err {
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 900px;

  background-color: #ffaaaa;
  font-weight: bold;
}

.gray {
  color: #dddddd;
}

th {
  font-weight: normal;
}

.unsorted {
  background-color: #eeeeee;
  font-weight: normal;
  color: blue;
}

.sorted {
  background-color: yellow;
  font-weight: normal;
  color: blue;
}

.unsorted:hover {
  color: #ff6633;
}

.sorted:hover {
  color: #ff6633;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #eeeeee;
  margin-bottom: 10px;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  text-align: center;
  padding: 10px;
}

.goto_button {
  margin-top: 8px;
  margin-left: 20px;
}

.goto_input {

  margin-left: 0px;
  margin-right: 20px;
  width: 50px;
}

/* Chrome, Safari, Edge, Opera */
.goto input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.goto input[type=number] {
  -moz-appearance: textfield;
}

.logo {
  background-color: #bbffbb;
  margin-right: 20px;
}

form {
  border: 1px solid #cccccc;
  border-radius: 6px;
  background: #eeeeee;
  padding: 5px;
  display: inline-block;

}

.form_div {
  display: inline-block;
}

form>div {
  margin-left: 10px;
  padding-top: 5px;
}

form>div>button {
  margin-top: 10px;
}

button {
  color: blue;
  background-color: #ffe000;
}

.login_register {
  margin-top: 20px;
  padding: 10px;
  background: #eeffee;
  border-radius: 6px;
  width: 400px;
  border: 1px solid gray;
}

form>div>label {
  min-width: 140px;
  display: inline-block;
  white-space: nowrap;
}

.post_form>div>textarea {
  width: 900px;
  height: 200px;
}

p {
  margin-bottom: 20px;
  font-weight: normal;
}

.about {
  width: 800px;
}

.about>p>b {
  font-size: 18px;
  font-style: italic;
  color: red;
}

textarea {
  width: 600px;
  height: 100px;
}

input:disabled {
  /* same color as form */
  background: #eeeeee;
  border: none;
  color: black;
}

.post {
  border: 1px solid gray;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #f0fff0;
  width: 900px;
  border-radius: 6px;
}

.post_text {
  padding: 0px;
  margin: 0px;
}

.post_who_when {
  font-size: 12px;
  color: green;
}

pre {
  overflow-x: auto;
  font-family: "Lucida Console", "Courier New", Courier, monospace;
  font-size: 14px;
  background: white;
  margin: 0px;
  padding: 5px;
  border: 1px dashed gray;
}