@page

@{
    Layout = "_layout_signed_out";
}

@{
    ViewData["Title"] = "About Budoco";
}

<div class="just_left">
    <h1>@ViewData["Title"]</h1>
    <div><a href="/Index">Back to Budoco Home</a></div>
</div>

<div class="about centered_and_left_just">


    <p>
        <a href="https://ctrager.github.io">Corey Trager</a> here, the author of Budoco and BugTracker.NET.
    </p>
    <p>
        "Budoco" is a rewrite of <b>BU</b>gtracker.NET using Microsoft's <b>DO</b>tnet <b>CO</b>re.
    </p>
    <p>
        More about Budoco here: <a href="https://github.com/ctrager/budoco">Budoco on GitHub</a>
        <br>

        More about BugTracker.NET here: <a href="http://ifdefined.com/bugtrackernet.html">BugTracker.NET home page</a>
    </p>
    <p>
        If Budoco (or BugTracker.NET) is helping you or your organization you in any way,
        consider encouraging its development by making a small regular donation via <a
            href="https://www.patreon.com/ctrager">Patreon</a>,
        or a one-time donation <a href="https://ifdefined.com/donate_to_bugtracker.html">here</a>,
        or even just tell me about it at ctrager@yahoo.com
    </p>


</div>
</div>