@page
@model AdminModel

@{
    @* if ()
    {
        Console.WriteLine("Admin html 1");
        <p>bad boy</p>
        //return;
        //Console.WriteLine("Admin html 2");
    } *@
}

@{
    Console.WriteLine("Admin html 2");
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<div><a href="/">home</a></div>
<div><a href="privacy">privacy</a></div>
<div><a href="Privacy">Privacy</a></div>