@page
@model AdminModel
@{
    ViewData["Title"] = "Admin";
}
<h1>@ViewData["Title"]</h1>

<div><a href="/">home</a></div>
<div><a href="privacy">privacy</a></div>
<div><a href="Privacy">Privacy</a></div>