@page
@model FileUploadModel

@{
    Layout = "_layout_signed_out";
}

@{
    ViewData["Title"] = "File Upload";
}

<form method="post" enctype="multipart/form-data">
    <div><input asp-for="my_string"></intput>
    </div>


    <div>
        <label class="file_upload_label fake_link">
            Attach file:
            <input type="file" class="file_upload_input" asp-for="UploadedFile" />
        </label>

    </div>

    <div>
        <button id="submit">Submit</button>
    </div>


</form>


<div>

    document.getElementById('submit').addEventListener("click", (evt) => {
    return
    evt.preventDefault();
    let data = new FormData(document.forms[0]);
    fetch('', {
    method: 'post',
    body: data
    })
    .then(() => {
    alert('Posted using Fetch');
    });
    });

</div>


@section Scripts {
    <script>
    $(document).ready(function () {

        $("#UploadedFile").on('change', function () {
            //alert(this.files[0].name)
            $("#file_name").html(this.files[0].name);
        })


        $('#submit').on('click', function (evt) {
            evt.preventDefault();
            $.ajax({
                url: '',
                data: new FormData(document.forms[0]),
                contentType: false,
                processData: false,
                type: 'post',
                success: function () {
                    alert('Uploaded by jQuery');
                }
            })
        });
    })
    </script>
}