@page
@model FileUploadModel

@{
    Layout = "_Layout_signed_out";
}

@{
    ViewData["Title"] = "File Upload";
}

<form method="post" class="col-sm-6" enctype="multipart/form-data">
    <div><input asp-for="my_string"></intput>
    </div>
    <div class="form-group row">
        <label asp-for="UploadedFile" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-7">
            <input asp-for="UploadedFile" class="form-control">
        </div>
    </div>

    <div class="form-group row">

        <div class="col-sm-7 offset-sm-3">
            <button class="btn btn-primary" id="submit">Submit</button>
        </div>
    </div>
</form>

<script>

    $(function () {
        $('#submit').on('click', function (evt) {
            evt.preventDefault();
            $.ajax({
                url: '',
                data: new FormData(document.forms[0]),
                contentType: false,
                processData: false,
                type: 'post',
                success: function () {
                    alert('Uploaded by jQuery');
                }
            });
        });
    });
</script>

<div>

    document.getElementById('submit').addEventListener("click", (evt) => {
    return
    evt.preventDefault();
    let data = new FormData(document.forms[0]);
    fetch('', {
    method: 'post',
    body: data
    })
    .then(() => {
    alert('Posted using Fetch');
    });
    });

</div>
}