@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
@Html.Raw(Model.GetSomeHtml())
</div>
<div class="text-center">
    <h1 class="display-4">Welcome Corey</h1>
    <h2>@Model.ToString()</h2>
    <h3>@Model.foo</h3>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
