@page
@{
    Layout = "_Layout_signed_out";
}

@model LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<partial name="_FlashPartial" />

<div class="form_div">
    <form class="login_form" method="post">
        <div>
            <label>Username or Email</label>
            <input asp-for="username" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" asp-for="password" />
        </div>
        <div><button type="submit">Login</button></div>
    </form>
</div>

<div><a href="ResetPasswordRequest">Forgot Password?</a></div>

<div class="login_register">
    <div>Is this your first time?</div>
    <div><a href="Register">Register</a></div>
</div>

@section Scripts {
    
}

