@page
@{
    Layout = "_layout_signed_out";
}

@model RegisterConfirmationModel

@{
    ViewData["Title"] = "Registration Confirmation";
}

<h1>Register Confirmation</h1>

<partial name="_FlashPartial" />

@{
    if (Model.is_success)
    {
        <a href="/Login">Login</a>
    }
}

@section Scripts {
    
}
