@page
@{
    Layout = "_layout_signed_out";
}

@model ResetPasswordModel

@{
    ViewData["Title"] = "Register";
}

<h1>Reset Password</h1>
<partial name="_FlashPartial" />

<form method="post">
    <table class="form_table">
    <tr>
        <td><label>Password</label>
        <td><input type="password" asp-for="password" />
    </tr>
    <tr>
        <td><label>Re-enter password</label>
        <td><input type="password" asp-for="retyped_password" />
    </tr>
    <tr>
        <td><button type="submit">Reset Password</button>
    </tr>
    </table>
</form>

<div><a href="Login">Login</a></div>

@section Scripts {
    
}

