@page
@{
    Layout = "_layout_signed_out";
}

@model ResetPasswordModel

@{
    ViewData["Title"] = "Register";
}

<h1>Reset Password</h1>
<partial name="_FlashPartial" />

<div class="form_div">
<form method="post">
    <div>
        <label>Password</label>
        <input type="password" asp-for="password" />
    </div>
    <div>
        <label>Re-enter password</label>
        <input type="password" asp-for="retyped_password" />
    </div>
    <div><button type="submit">Reset Password</button>
</form>
</div>
<div><a href="Login">Login</a></div>

@section Scripts {
    
}

