@page
@{
    Layout = "_Layout_signed_out";
}

@model ResetPasswordRequestModel

@{
    ViewData["Title"] = "Reset Password Request";
}

<h1>Reset Password Request</h1>
<partial name="_FlashPartial" />

<div class="form-div">
    <form class="reset_password_request_form" method="post">
        <div><label>Email you registered with:</label>
            <input asp-for="email" />
        </div>
        <div><button type="submit">Request Password Reset</button></div>
    </form>
</div>

<div><a href="Login">Login</a></div>

@section Scripts {
    
}
