@page
@{
    Layout = "_Layout_signed_out";
}

@model ResetPasswordRequestModel

@{
    ViewData["Title"] = "Reset Password Request";
}

<partial name="_FlashPartial" />

<form method="post">
    <div>Email
        <input asp-for="email" />
    </div>
    <div><input type="submit" value="Request Password Reset"></div>
</form>
<div><a href="Login">Login</a></div>
