@page
@{
    Layout = "_layout_signed_out";
}

@model ResetPasswordRequestModel

@{
    ViewData["Title"] = "Reset Password Request";
}

<h1>@ViewData["Title"]</h1>

<partial name="_FlashPartial" />


<div class="form_div">
    <form method="post">
        <div><label>Email you registered with:</label>
            <input  maxlength="64" type="email" asp-for="email" />
        </div>
        <div><button type="submit">Request Password Reset</button></div>
    </form>
</div>

<div><a href="/Login">Login</a></div>

@section Scripts {
    
}
