@page
@{
    Layout = "_layout_signed_out";
}

@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

<h1>@ViewData["Title"]</h1>
<partial name="_FlashPartial" />

<div class="form_div">
<form method="post">
    <table class="form_table">
    <tr>
        <td><label>Password</label>
        <td><input type="password" asp-for="password" />
    </tr>
    <tr>
        <td><label>Re-enter password</label>
        <td><input type="password" asp-for="retyped_password" />
    </tr>
    @{
        if (Model.username == "admin")
        {
    <tr>
        
        <td><label>Email</label>
        <td>
            <div>Set this to a your real email address.</div>
            <input type="email" asp-for="email"/>
    </tr>
        }
    }
    <tr>
        <td><button type="submit">Reset Password</button>
    </tr>
    </table>
</form>
</div>

<div><a href="/Login">Login</a></div>

@section Scripts {
    
}

