@page
@{
    Layout = "_Layout_signed_out";
}

@model ResetPasswordModel

@{
    ViewData["Title"] = "Register";
}

<partial name="_FlashPartial" />

<form method="post">
    <div>Password
        <input type="password" asp-for="password" />
    </div>
    <div>Re-enter password
        <input type="password" asp-for="retyped_password" />
    </div>
    <div><input type="submit" value="Reset Password"></div>
</form>
<div><a href="Login">Login</a></div>
